* {
	box-sizing: border-box;
}

body {
	font-family: 'Oxygen', sans-serif;
}

p {
	clear: both;
}

.box {
	border: 1px black solid;
	background: grey;	
	padding: 10px;
}

.box-main-text {
	clear: both;
	padding: 10px;
}

#box-sushi {
	background: yellow;
}

#box-beef {
	color: white;
	background: red;
}
#box-chicken {
	background: pink;
}
.box-label {
	border: 1px black solid;
	padding: 10px;
	width: 30%;
	float: right;
}

.text-center {
	text-align: center;
}

@media (min-width: 992px) {
	.col-lg-1, 
	.col-lg-2, 
	.col-lg-3, 
	.col-lg-4, 
	.col-lg-5, 
	.col-lg-6 {
		float: left;
		padding: 10px;
	}

	.col-lg-2 {
		width: 33.33%;
	}


	.col-lg-3 {
		width: 50%;
	}


	.col-lg-6 {
		width: 100%;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.col-md-1, 
	.col-md-2, 
	.col-md-3, 
	.col-md-4, 
	.col-md-5, 
	.col-md-6 {	
		float: left;
		padding: 10px;
	}

	.col-md-1 {
		width: 16.66%;
	}

	.col-md-2 {
		width: 33.33%;
	}

	.col-md-3 {
		width: 50%;
	}

	.col-md-6 {
		width: 100%;
	}
}

@media (max-width: 767px) {
	
	.col-sm-1, 
	.col-sm-2, 
	.col-sm-3, 
	.col-sm-4, 
	.col-sm-5, 
	.col-sm-6 {
		float: left;
		padding: 10px;
	}

	.col-sm-1 {
		width: 16.66%;
	}

	.col-sm-2 {
		width: 33.33%;
	}

	.col-sm-6 {
		width: 100%;
	}


}